Options -Indexes
RewriteEngine On

# Continuar con las condiciones normales
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

# Reescribir cualquier otra URL a index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]