body {
    font-family: "Bebas Neue", Sans-serif;
}

/* Logo */
.navbar-brand img {
    width: 200px; /* Ajustado para un header más compacto */
    height: auto;
}

/* Barra de navegación */
.navbar-nav .nav-link.active {
    color: #C60909; /* Color rojo para el enlace activo */
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #333; /* Color gris para los enlaces por defecto */
    font-weight: bold;
    margin: 0 15px; /* Espaciado entre los ítems de la navegación */
    transition: color 0.3s ease; /* Transición suave al cambiar el color */
}

.navbar-nav .nav-link:hover {
    color: #C60909; /* Color rojo al hacer hover */
}

/* Header */
.navbar {
    padding: 10px 0; /* Reducir el padding para hacer el header más pequeño */
}

/* Iconos de usuario y carrito */
.user-actions img {
    width: 24px; /* Ajustar el tamaño de los iconos para un header más pequeño */
    height: 24px;
    margin-left: 10px; /* Espaciado entre los íconos */
    cursor: pointer;
}

/* Estilos del formulario de búsqueda */
form .form-control {
    border-radius: 30px;
    height: 36px; /* Reducir la altura de la barra de búsqueda */
}

form button {
    background-color: #C60909;
    border-radius: 30px;
    height: 36px; /* Alinear el botón con la barra de búsqueda */
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-toggler {
        margin-right: 0;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-link {
        margin: 10px 0;
    }

    .user-actions {
        margin: 10px 0;
    }

    .user-actions img {
        width: 24px;
        height: 24px;
    }
}




.custom-shape-image {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    clip-path: polygon(50% 0%,
            /* Punto en el centro superior */
            65% 10%,
            /* Punto en la parte superior derecha */
            80% 20%,
            /* Punto hacia abajo y a la derecha */
            85% 35%,
            /* Punto un poco más hacia abajo */
            80% 50%,
            /* Punto en el centro derecho */
            65% 65%,
            /* Punto hacia abajo y a la izquierda */
            50% 80%,
            /* Punto en el centro inferior */
            35% 65%,
            /* Punto hacia arriba y a la izquierda */
            20% 50%,
            /* Punto en el centro izquierdo */
            15% 35%,
            /* Punto un poco más arriba en el lado izquierdo */
            20% 20%,
            /* Punto hacia arriba y a la derecha */
            35% 10%
            /* Punto en la parte superior central */
        );
}

h2 {
    font-weight: 700;
    /* Texto en negrita */
}

h4,
p {
    font-weight: 400;
    /* Texto regular */

}

.form-control[type="search"] {
    box-shadow: none;
    /* Elimina el box shadow */
    outline: none;
    /* Elimina el borde de enfoque */
}

.banner {
    position: relative;
    background-image: url('../img/3.jpg');
    margin-top: -100px;
    height: 65vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(112, 111, 111, 0.577);
    z-index: 1;
    /* Coloca la capa debajo del contenido */
}

.content {
    position: relative;
    z-index: 2;
    /* Asegura que el contenido esté sobre la capa */
    text-align: center;
    color: #fff;
    /* Texto blanco */
    padding: 20px;
    top: 50%;
    /* Mueve el texto más abajo */
    transform: translateY(-50%);
    /* Centra verticalmente */
}

.content .text-center {
    max-width: 1100px;
    margin: 0 auto;
}

.text-white {
    color: #fff;
    /* Color blanco para el texto */
}

.font-weight-bold {
    font-weight: bold;
    /* Texto en negrita */
}

.ods-card {
    transition: transform 0.3s, filter 0.3s;
    text-align: center;
    color: white;
    height: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    border-radius: 8px;
}

.ods-card:hover {
    transform: scale(1.05);
    filter: brightness(85%);
}

.ods-card a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ods-salud,
.ods-hambre,
.ods-pobreza,
.ods-educacion {
    background-size: cover;
    /* La imagen cubrirá todo el div, manteniendo su proporción */
    background-position: center;
    /* Centra la imagen en el div */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    height: 100%;
    /* Asegura que la imagen se ajuste a la altura del div */
    width: 100%;
    /* Asegura que la imagen se ajuste al ancho del div */
    min-height: 270px;
    /* Establece una altura mínima, puedes ajustarla según necesites SIRVE PARA LLEVARLO EN  EL RESPONSIVE */
}

.ods-salud {
    background-image: url('../img/SALUD_BIENESTAR.jpg');

}

.ods-hambre {
    background-image: url('../img/hambre_cero.png');

}

.ods-pobreza {
    background-image: url('../img/fin_de_pobreza.jpg');
}

.ods-educacion {
    background-image: url('../img/educacion_calidad.png');
}

/* Efecto hover */
.ods-card:hover {
    background-color: rgba(0, 0, 0, 0.7);
    /* Oscurece el fondo */
    color: white;
    /* Cambia el color del texto a blanco */
}

.bg-custom {
    background-color: #54595F;
    /* Fondo gris oscuro */
}

.text-white {
    color: #ffffff !important;
}

h5 {
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin-bottom: 0;
    line-height: 1.8;
}

.logo-img {
    max-width: 290px;
    /* Ajuste del tamaño del logo */
}

.social-icon {
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin: 0 10px;
    text-align: center;
    background-color: #C60909;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.social-icon:hover {

    color: #C60909;
}

i {
    vertical-align: middle;
}

.bg-danger {
    background-color: #C60909 !important;
    /* Rojo que coincide con la imagen */
}

.text-white {
    color: #ffffff !important;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    /* Ajusta el tamaño de fuente según sea necesario */
}

/*****BANNER PRIMERO*****/
.carousel-item {
    height: 620px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.carousel-caption {
    bottom: 30%;
}

.carousel-caption h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 1.25rem;
}

.btn-custom {
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
    background-color: white;
    color: black;
}

.contact-icon {
    width: 20px;
    height: auto;
}

@media (max-width: 576px) {
    .contact-icon {
        width: 16px;
    }
    .fas {
        font-size: 16px;
    }
}

/****************** ODS ****************************/
p.lead {
    font-size: 1.2rem;
    color: #6c757d;
}
header {
    border-bottom: 5px solid #f5f5f5;
}


/************* TARJETAS DE ACTIVIDAD ********************/
.custom-container {
    margin: 20px; /* Margen del contenedor */
    display: flex;
    justify-content: center; /* Centra el contenido del contenedor */
}

.inner-container {
    width: 100%; /* Asegura que el contenedor interior ocupe todo el ancho disponible */
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espacio entre tarjetas */
    justify-content: center; /* Centra las tarjetas dentro de la fila */
}

.custom-col {
    flex: 0 0 20%; /* Ancho fijo del 20% */
    padding: 0; /* Sin padding para ajustar el espacio entre tarjetas */
}

.custom-card {
    transition: box-shadow 0.3s ease;
    border: 1px solid #ddd; /* Borde opcional */
    border-radius: 8px; /* Bordes redondeados */
}

.custom-card-body {
    padding: 15px; /* Espacio interno dentro de la tarjeta */
}

.custom-card img {
    width: 100%; /* Ajusta la imagen al ancho de la tarjeta */
    border-bottom: 1px solid #ddd; /* Borde inferior opcional para separar la imagen del contenido */
    cursor: pointer; /* Cambia el cursor a pointer cuando pasa sobre la imagen */
}

.custom-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra gris */
}

.custom-card-title {
    color: #d42b2b; /* Color rojo */
    font-weight: bold;
}

.custom-card-link {
    color: #d42b2b; /* Color rojo */
    font-weight: bold;
    text-decoration: none; /* Quitar subrayado */
}

.custom-card-link:hover {
    text-decoration: underline;
}

/* Media Queries para hacer el diseño responsivo */

/* Para pantallas medianas (tabletas en orientación horizontal y pantallas grandes) */
@media (max-width: 1200px) {
    .custom-col {
        flex: 0 0 25%; /* Ancho del 25% */
    }
}

/* Para pantallas pequeñas (tabletas en orientación vertical) */
@media (max-width: 992px) {
    .custom-col {
        flex: 0 0 33.33%; /* Ancho del 33.33% */
    }
}

/* Para pantallas más pequeñas (móviles en orientación horizontal) */
@media (max-width: 768px) {
    .custom-col {
        flex: 0 0 50%; /* Ancho del 50% */
    }
}

/* Para pantallas muy pequeñas (móviles en orientación vertical) */
@media (max-width: 576px) {
    .custom-col {
        flex: 0 0 100%; /* Ancho del 100% */
    }
}